<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./style1.css">
    <link rel="stylesheet" type="text/css" href="./style3.css">
    <link rel="stylesheet" type="text/css" href="./star.css">
    <link rel="stylesheet" type="text/css" href="./anim.css">
    
    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/f93a846390.js" crossorigin="anonymous"></script>
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    

    <!---인기 여행지 페이지 버튼 누를 경우 발생하는 이벤트-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#k1').show();
            $('#k2').hide();
            $('#k3').hide();
            $('#k4').hide();
       
        $('#show4').click(function () {
                $('#k1').hide();
                $('#k2').hide(); 
                $('#k3').hide();
                $('#k4').show();
            });
        $('#show3').click(function () {
                $('#k1').hide();
                $('#k2').hide();
                $('#k3').show();
                $('#k4').hide();
            });
        $('#show2').click(function () {
                $('#k1').hide();
                $('#k2').show();
                $('#k3').hide();
                $('#k4').hide();
            });
        $('#show1').click(function () {
            $(document).ready(function () {
                $('#k1').show();
                $('#k2').hide();
                $('#k3').hide();
                $('#k4').hide();
            });
            });
        });
        
    </script>

    <!---클릭시 버튼 스타일 조정-->
   <script>
    
  function che(s)
  {
    document.getElementById(s).className = "clickedbtn";
    if(s=='show1')
    {
        document.getElementById('show2').className = "btn1";
        document.getElementById('show3').className = "btn1";
        document.getElementById('show4').className = "btn1";
    }
    else if(s=='show2')
    {
        document.getElementById('show1').className = "btn1";
        document.getElementById('show3').className = "btn1";
        document.getElementById('show4').className = "btn1";
    }
    else if(s=='show3')
    {
        document.getElementById('show2').className = "btn1";
        document.getElementById('show1').className = "btn1";
        document.getElementById('show4').className = "btn1";
    }
    else if(s=='show4')
    {
        document.getElementById('show2').className = "btn1";
        document.getElementById('show3').className = "btn1";
        document.getElementById('show1').className = "btn1";
    }
  }


  </script>

    <!-- 헤더 스크롤 자바스크립트-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript">
    $(function(){
    $(document).on('scroll', function(){
        if($(window).scrollTop() > 150){
            $("#header").removeClass("deactive");
            $("#header").addClass("active");
        }else{
            $("#header").removeClass("active");
            $("#header").addClass("deactive");
        }
    })
});
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<style type="text/css">
      input[type="radio"]{display: none;}
      input[type="radio"] + label{display: inline-block;padding: 12px 40px;background: #222746;color: white;font-size: 17px;cursor: pointer; margin-right: -5px; position: relative; border-top: 4px solid transparent;transition: 0.5s;font-weight: 300;width: 95px;text-align: center;}
      input[type="radio"]:checked + label{background: rgba( 255, 255, 255, 0.6 );color: #222746;border-top: 4px solid #222746;transition: 0.5s;font-weight: 500;}
      input[id="tab01"]:checked~.con1{display: block;}
      input[id="tab02"]:checked~.con2{display: block;}
      input[id="tab03"]:checked~.con3{display: block;}
      input[id="tab04"]:checked~.con4{display: block;}
   </style> 


</head>
<body class="main">
<!-- 메인 화면 이미지 -->
<div class="container">
    <!---메인 헤더 부분-->
        <header>
                <div  id="header" class="deactive">
                    <h2><a href="">TRUE<span style="color:skyblue">.</span>VEL</a></h2>
                    <nav>
                    <ul class="menubar">
                        <li><a href="./page4/ReferenceSite.html" style="font-size: 18px;">참고사이트</a></li>
                    <li><a href="" style="font-size: 18px;">고객센터</a></li>
                    <li><a href="" style="font-size: 18px;">예약현황</a></li>
                    <li>
                        <a href="./page1/login1.html" style="font-size: 18px;">로그인/회원가입</a>
                        
                    </li>
                    </ul>
                    </nav>
                </div>
        </header>
    <!---메인 페이지 검색창-->
        <div class="tab-content">
   <input type="radio" name="tabmenu" id="tab01" value="0" checked>
   <label for="tab01">전체</label>
   <input type="radio" name="tabmenu" id="tab02" value="1">
   <label for="tab02">호텔</label>
   <input type="radio" name="tabmenu" id="tab03" value="2">
   <label for="tab03">펜션</label>
   <input type="radio" name="tabmenu" id="tab04" value="3">
   <label for="tab04">게스트하우스</label>



   <div class="conbox con1" style="text-align: center">
      <div style="margin-top: 4.5%">
          <form action="{%url 'kind" method="POST">
              
      목적지 <input name="목적지" type="text" list="where" >
            <datalist id="where">
                <option value=서울>
                <option value=경기>
                <option value=인천>
                <option value=강원>
                <option value=제주>
                <option value=대전>
                <option value=충북>
                <option value=충남>
                <option value=부산>
                <option value=울산>
                <option value=경남>
                <option value=대구>
                <option value=경북>
                <option value=광주>
                <option value=전남>
                <option value=전북>
            </datalist>
       날짜     <input type="date" name="date1" value="2022-07-23" > ~ <input type="date" name="date2" value="2022-07-23"  >
       인원 수 <select name="인원"  >
            <option value="1인">1인</option>
            <option value="2인">2인</option>
            <option value="3인">3인</option>
            <option value="4인">4인</option>
            <option value="5인">5인 이상</option>
            </select>
        키워드  <input name="keyw" type="text" placeholder="바다" name="키워드" onfocus="this.placeholder='';" onblur="this.placeholder='바다';"  >
              &nbsp;<button type="submit" class="btn">검색</button>

       </form>
      </div>

   </div>
   <div class="conbox con2" style="text-align: center;">


      <div style="margin-top: 6.5%">
           <form action="{%url 'kind" method="POST">
            
      목적지 <input name="목적지" type="text" list="where" >
            <datalist id="where">
                <option value=서울>
                <option value=경기>
                <option value=인천>
                <option value=강원>
                <option value=제주>
                <option value=대전>
                <option value=충북>
                <option value=충남>
                <option value=부산>
                <option value=울산>
                <option value=경남>
                <option value=대구>
                <option value=경북>
                <option value=광주>
                <option value=전남>
                <option value=전북>
            </datalist>
       날짜     <input type="date" value="2022-07-23" > ~ <input type="date" value="2022-07-23"  >
       인원 수 <select name="인원"  >
            <option value="1">1인</option>
            <option value="2">2인</option>
            <option value="3">3인</option>
            <option value="4">4인</option>
            <option value="5">5인 이상</option>
            </select>
        키워드  <input name="keyw" type="text" placeholder="바다" name="키워드" onfocus="this.placeholder='';" onblur="this.placeholder='바다';"  >
        &nbsp;<button type="submit" class="btn" >검색</button>
       </form>
      </div>

   </div>
   <div class="conbox con3" style="text-align: center;">


      <div style="margin-top: 6.5%">
           <form action="{%url 'kind" method="POST">
            
      목적지 <input name="목적지" type="text" list="where" >
            <datalist id="where">
                <option value=서울>
                <option value=경기>
                <option value=인천>
                <option value=강원>
                <option value=제주>
                <option value=대전>
                <option value=충북>
                <option value=충남>
                <option value=부산>
                <option value=울산>
                <option value=경남>
                <option value=대구>
                <option value=경북>
                <option value=광주>
                <option value=전남>
                <option value=전북>
            </datalist>
       날짜     <input type="date" value="2022-07-23" > ~ <input type="date" value="2022-07-23"  >
       인원 수 <select name="인원"  >
            <option value="1">1인</option>
            <option value="2">2인</option>
            <option value="3">3인</option>
            <option value="4">4인</option>
            <option value="5">5인 이상</option>
            </select>
        키워드  <input name="keyw" type="text" placeholder="바다" name="키워드" onfocus="this.placeholder='';" onblur="this.placeholder='바다';"  >
        &nbsp;<button type="submit" class="btn" >검색</button>
       </form>
      </div>

   </div>
   <div class="conbox con4" style="text-align: center;">

      <div style="margin-top: 6.5%">
           <form action="{%url 'kind" method="POST">
            
      목적지 <input name="목적지" type="text" list="where" >
            <datalist id="where">
                <option value=서울>
                <option value=경기>
                <option value=인천>
                <option value=강원>
                <option value=제주>
                <option value=대전>
                <option value=충북>
                <option value=충남>
                <option value=부산>
                <option value=울산>
                <option value=경남>
                <option value=대구>
                <option value=경북>
                <option value=광주>
                <option value=전남>
                <option value=전북>
            </datalist>
       날짜     <input type="date" value="2022-07-23" > ~ <input type="date" value="2022-07-23"  >
       인원 수 <select name="인원"  >
            <option value="1">1인</option>
            <option value="2">2인</option>
            <option value="3">3인</option>
            <option value="4">4인</option>
            <option value="5">5인 이상</option>
            </select>
        키워드  <input name="keyw" type="text" placeholder="바다" name="키워드" onfocus="this.placeholder='';" onblur="this.placeholder='바다';"  >
        &nbsp;<button type="submit" class="btn" >검색</button>
      </div>
      </form>
</div>
   
    
</div>



</div>
</body>



<body>
<!---추천 숙소 페이지-->
<div class="section1"> 
    <div class="lar1"> 추천 숙소 </div>
    <div class="lar2">
        
        <div class="A1" >
            <span class = "aug">
    
                <img src="./img/hotel1.jpg" width="270px" height="170px">
    
    
            </span>
    
            <div style="display: inline-block;">
                <p id="font1" style="font-size: 23px; margin-top: 4px;  margin-bottom: 0px; font-weight: 500;"> 호텔 피제이 명동 </p> 
        
                <p style="margin-top: 10px; margin-bottom: 2px;">
                    <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 92%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                        <span id="font3"> 4.5 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
                </p>
        
                <p id="font4" style="margin-top: 3px;  font-size: 15px; color: #ACACAC;"> 최저가 <span id="font5" style="font-size: 19px; color: #50B0E2;"> &#8361;143,791</span> </p>
            </div>
    
    
        </div>
    
        <div class="A1">
            <span class = "aug">
                <img src="./img/hotel3.webp" width="270px" height="170px" alt="사진 없음">

            </span>
            <div style="display: inline-block;">
                <p id="font1" style="font-size: 23px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 리젠트 마린 더 블루 </p> 
                <p style="margin-top: 10px;  margin-bottom: 2px;">
                
                    <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 91%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                    <span id="font3"> 4.4 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
                </p>
                <p id="font4" style="margin-top: 3px; margin-left: 5px; font-size: 15px; color: #ACACAC;"> 최저가 <span id="font5" style="font-size: 19px; color: #50B0E2;">&#8361;131,998</span> </p>
            </div>
        </div>

        <div class="A1">
            <span class = "aug">
                <img src="./img/hotel2.webp" width="270px" height="170px" alt="사진 없음">

            </span>
            

            <div style="display: inline-block;">

                <p id="font1" style="font-size: 23px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 라발스 호텔 </p> 
    
                <p style="margin-top: 10px;  margin-bottom: 2px;">
                  
                    <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 92%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                    <span id="font3"> 4.5 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
                 </p>
    
            <p id="font4" style="margin-top: 3px; margin-left: 5px; font-size: 15px; color: #ACACAC;"> 최저가 <span id="font5" style="font-size: 19px; color: #50B0E2;">&#8361;144,151</span> </p>
            
            </div>
    
        </div> 
        
        <div class="A1">
            <span class = "aug">
                <img src="img/hotel4.jpg" width="270px" height="170px" alt="사진 없음">
            </span>
            <div style="display: inline-block;">

                <p id="font1" style="font-size: 23px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 춘천 더원펜션 </p> 
    
                <p style="margin-top: 10px;  margin-bottom: 2px;">
                    <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 97%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                        <span id="font3"> 4.9 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
                </p>
        
                <p id="font4" style="margin-top: 3px; margin-left: 5px; font-size: 15px; color: #ACACAC;"> 최저가 <span id="font5" style="font-size: 19px; color: #50B0E2;">&#8361;89,032</span> </p>
            </div>
    
           
            
    
        </div>

    </div>
</div>

<!---인기 여행지 페이지-->
<div class="section1" >
<P class="lar1" style="margin-bottom: 3%;"> 인기 여행지 </P>
<!---인기 여행지 페이지 버튼-->
<div id="group" style="margin-top: 0; margin-bottom: 0px; position: relative; text-align: center; " >
    <button class="clickedbtn" id="show1" onclick="che('show1');" > 서울 </button>
    <button class="btn1" id="show2" onclick="che('show2');" > 경기 </button>
    <button class="btn1" id="show3" onclick="che('show3');" > 부산 </button>
    <button class="btn1" id="show4" onclick="che('show4');" > 제주도 </button>
   
</div>

<!---지역별 4가지 컨텐츠 구현-->
<div id="k1" class="lar2" style="margin-top: 3%;">

    <div class="A1">
        <div class="screen">
            <img  src="img/seoul1.jpg" width="270px" height="200px" alt="사진 없음">
            <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                &#35;고궁 <br> &#35;한복 <br> &#35;야간개장
            </div>    
        </div>
        <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 경복궁 </p> 
        <p style="margin-top: 10px;  margin-bottom: 2px;">
            <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 94%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
             
                <span id="font3"> 4.6 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
        </p>
    </div>

    <div class="A1">
        <div class="screen">
            <img  src="./img/seoul3.jpg" width="270px" height="200px" alt="사진 없음">
            <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                &#35;서울야경 <br> &#35;산책로 <br> &#35;혼자서도OK
            </div>    
        </div>
        <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 낙산공원 </p> 
        <p style="margin-top: 10px;  margin-bottom: 2px;">
            <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 92%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                
                <span id="font3"> 4.5 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
        </p>
    </div>

    <div class="A1">
        <div class="screen">
            <img  src="img/seoul2.jpg" width="270px" height="200px" alt="사진 없음">
            <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                &#35;억새축제 <br> &#35;맑은공기 <br> &#35;커플
            </div>    
        </div>
        <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 하늘공원 </p> 
        <p style="margin-top: 10px;  margin-bottom: 2px;">
            <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 92%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
            
                <span id="font3"> 4.5 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
        </p>
    </div>


    <div class="A1">
        <div class="screen">
            <img  src="./img/seoul4.jpg" width="270px" height="200px" alt="사진 없음">
            <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                &#35;ART <br> &#35;전시 <br> &#35;건축물
            </div>    
        </div>
        <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 동대문 디자인 플라자(DDP) </p> 
        <p style="margin-top: 10px;  margin-bottom: 2px;">
            <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 90%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                
                <span id="font3"> 4.3 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
        </p>
    </div>
</div>

<div id="k2" class="lar2" style="margin-top: 3%;" >

    <div class="A1">
        <div class="screen">
            <img  src="./img/nam.jpg" width="270px" height="200px" alt="사진 없음">
            <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                &#35;산책 <br> &#35;가평 <br> &#35;풀내음
            </div>    
        </div>
        <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 남이섬 </p> 
        <p style="margin-top: 10px;  margin-bottom: 2px;">
            <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 90%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                
                <span id="font3"> 4.3 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
        </p>
    </div>

    <div class="A1">
        <div class="screen">
            <img  src="./img/min.jpg" width="270px" height="200px" alt="사진 없음">
            <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                &#35;친구들과 <br> &#35;용인 <br> &#35;속촌아씨
            </div>    
        </div>
        <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 한국민속촌 </p> 
        <p style="margin-top: 10px;  margin-bottom: 2px;">
            <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 90%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                
                <span id="font3"> 4.3 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
        </p>
    </div>

    <div class="A1">
        <div class="screen">
            <img  src="./img/semi.jpg" width="270px" height="200px" alt="사진 없음">
            <div class="top" style="font-size: 30px;  text-align: left; padding:10px;" >
                &#35;연꽃 <br> &#35;양평 <br> &#35;자연공원
            </div>    
        </div>
        <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 세미원 </p> 
        <p style="margin-top: 10px;  margin-bottom: 2px;">
            <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 88%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                
                <span id="font3"> 4.1 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
        </p>
    </div>


    <div class="A1">
        <div class="screen">
            <img  src="./img/dong.jpg" width="270px" height="200px" alt="사진 없음">
            <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                &#35;조명쇼 <br> &#35;와인 <br> &#35;시원함
            </div>    
        </div>
        <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 광명동굴 </p> 
        <p style="margin-top: 10px;  margin-bottom: 2px;">
            <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 90%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
               
                <span id="font3"> 4.3 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
        </p>
    </div>
</div>

<div id="k3" class="lar2" style="margin-top: 3%;">

        <div class="A1">
            <div class="screen">
                <img  src="./img/Bu1.jpg" width="270px" height="200px" alt="사진 없음">
                <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                    &#35;바다 <br> &#35;파라솔 <br> &#35;다리
                </div>    
            </div>
            <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 광안리 해수욕장 </p> 
            <p style="margin-top: 10px;  margin-bottom: 2px;">
                <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 94%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                   
                    <span id="font3"> 4.6 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
            </p>
        </div>

        <div class="A1">
            <div class="screen">
                <img  src="./img/Bu2.jpg" width="270px" height="200px" alt="사진 없음">
                <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                    &#35;공원 <br> &#35;풍경 <br> &#35;힐링
                </div>    
            </div>
            <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 동백섬 </p> 
            <p style="margin-top: 10px;  margin-bottom: 2px;">
                <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 92%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>                  
                    <span id="font3"> 4.5 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
            </p>
        </div>

        <div class="A1">
            <div class="screen">
                <img  src="./img/Bu3.jpg" width="270px" height="200px" alt="사진 없음">
                <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                    &#35;불교 <br> &#35;평화 <br> &#35;사진
                </div>    
            </div>
            <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 해동용궁사 </p> 
            <p style="margin-top: 10px;  margin-bottom: 2px;">
                <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 91%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>                
                    <span id="font3"> 4.4 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
            </p>
        </div>

        <div class="A1">
            <div class="screen">
                <img  src="./img/Bu4.jpg" width="270px" height="200px" alt="사진 없음">
                <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                    &#35;스릴 <br> &#35;노을 <br> &#35;섬
                </div>    
            </div>
            <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 오륙도 스카이워크 </p> 
            <p style="margin-top: 10px;  margin-bottom: 2px;">
                <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 89%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>                   
                    <span id="font3"> 4.2 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
            </p>
        </div>
</div>  

<div id="k4" class="lar2" style="margin-top: 3%;">

    <div class="A1">
        <div class="screen">
            <img  src="./img/j1.jpg" width="270px" height="200px" alt="사진 없음">
                    <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                       &#35;폭포 <br> &#35;시원함 <br> &#35;맑은공기
                    </div>    
                </div>
                <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500; text-align: center;"> 천지연폭포 </p> 
                <p style="margin-top: 10px;  margin-bottom: 2px;">
                    <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 90%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                        <span id="font3"> 4.3 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
                </p>
            </div>
    
            <div class="A1">
                <div class="screen">
                    <img  src="./img/j2.jpg" width="270px" height="200px" alt="사진 없음">
                    <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                        &#35;야생화 <br> &#35;고요함 <br> &#35;포토스팟
                    </div>    
                </div>
                <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 카멜리아 힐 </p> 
                <p style="margin-top: 10px;  margin-bottom: 2px;">
                    <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 89%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                        
                        <span id="font3"> 4.2 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
                </p>
            </div>
    
            <div class="A1">
                <div class="screen">
                    <img  src="./img/j3.jpg" width="270px" height="200px" alt="사진 없음">
                    <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                        &#35;화산 <br> &#35;제주명물 <br> &#35;세계자연유산
                    </div>    
                </div>
                <p id="font1" style="font-size: 22px; margin-top: 4px;  margin-bottom: 0px; font-weight: 500;"> 성산 일출봉 </p> 
                <p style="margin-top: 10px; margin-bottom: 2px;">
                    <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 95%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
                        
                        <span id="font3"> 4.7 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
                </p>
            </div>
    
    
            <div class="A1">
                <div class="screen">
                    <img  src="./img/j4.jpg" width="270px" height="200px" alt="사진 없음">
                    <div class="top" style="font-size: 30px; text-align: left; padding:10px;">
                        &#35;동굴 <br> &#35;동물원 <br> &#35;가족과함께
                    </div>    
                </div>
                <p id="font1" style="font-size: 22px; margin-top: 4px; margin-bottom: 0px; font-weight: 500;"> 한림공원 </p> 
                <p style="margin-top: 10px; margin-bottom: 2px;">
                    <div class="star-ratings">
                        <div class="star-ratings-fill" style="width: 90%;">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                        <div class="star-ratings-base">
                            <span style="padding-left:0px ;">★</span><span>★</span><span>★</span><span>★</span><span style="padding-right: 0px;">★</span>
                        </div>
                    </div>
    
                        <span id="font3"> 4.3 <span style="font-size: 18px; color: black; font-weight: 200;">점</span></span>
                </p>
            </div>
</div>

</div>

<!---유형별 숙소 추천 페이지-->
 <div class="section1">
    <p class="lar1">유형별 숙소 추천</p>
    <div class="lar2" id="font1">
      <div class="A2">
            <a href="">
                <div class="screen">
                    <img width="270px" height="300px" src="https://thumb.mt.co.kr/06/2021/08/2021080508414148710_1.jpg/dims/optimize/">
                    <div class="act"> 
                        <p class="subtitle">호캉스를 즐기고 싶다면</p>
                    <p class="subreserve" style="text-decoration: underline; text-underline-position:under; margin-top: 10%;" class="click">지금 호텔을 예약하세요</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="A2">
            <a href="">
                <div class="screen">
                    <img width="270px" height="300px" src="https://i.pinimg.com/564x/da/3d/ce/da3dce69cff3fcfeb121ca373a2ec822.jpg">
                    <div class="act"> 
                        <p class="subtitle">한옥스테이를 즐기고 싶다면</p>
                    <p class="subreserve" style="text-decoration: underline; text-underline-position:under; margin-top: 10%;" class="click">지금 숙소를 예약하세요</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="A2">
            <a href="">
                <div class="screen">
                    <img width="270px" height="300px" src="https://newsimg.sedaily.com/2021/07/13/22OWBK5HUK_2.jpg">
                    <div class="act"> 
                        <p class="subtitle">풀빌라를 즐기고 싶다면</p>
                    <p class="subreserve" style="text-decoration: underline; text-underline-position:under; margin-top: 10%;" class="click">지금 숙소를 예약하세요</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="A2">
            <a href="">
                <div class="screen">
                    <img width="300px" height="300px" src="https://i.pinimg.com/564x/d3/fd/70/d3fd70941b2a27d8bce92874aa27dc81.jpg">
                    <div class="act"> 
                        <p class="subtitle">캠핑을 즐기고 싶다면</p>
                    <p class="subreserve" style="text-decoration: underline; text-underline-position:under; margin-top: 10%;" class="click">지금 캠핑장을 예약하세요</p>
                    </div>
                </div>
            </a>
        </div>

       </div>
        
    </div>
   
<!---BEST 리뷰 숙소 페이지-->   
<div class="section1">
    <p class="lar1">BEST 후기 숙소</p>
    <div class="lar2" id="font1">
        <div class="A1" style="width: 270px; height: 450px;">
            <a style="color: black;" href="#">
                <span class = "aug" style="width:290px; height:250px;">
                    <img width="290px" height="250px" src="./img/re1.png" alt="리뷰">
                </span>

                <div style="display: inline-block; text-align: left;  width: 290px;">
                   <p id="font2" style="font-size: 23px; margin-top: 10px; margin-bottom: -7px; margin-right: 7%; font-weight: 500; text-align:center;">H-에비뉴
                    </p> 
                    <br>
                    <span style='font-size:30px; position: relative; display: block;'><span style="margin-top: 10%;"> &#128516;</span>  
                     <div class="balloon-left" style="text-align:left;">
                        깔끔하고 좋습니다. 다른 분들께도 추천 드려요!
                    </div>
                   </span>               
                </div>
        </div>

        <div class="A1" style="width: 270px; height:450px;">
            <a style="color: black;" href="#">
                <span class = "aug" style="width:290px; height:250px;">
                    <img width="290px" height="250px" src="./img/re2.png" alt="리뷰">
                </span>

                <div style="display: inline-block; text-align: left;  width: 290px;">
                    <p id="font2" style="font-size: 23px; margin-top: 10px; margin-bottom: -7px; margin-right: 7%; font-weight: 500; text-align:center;">파크 하얏트 서울
                    </p> 
                    <br>  
                    <span style='font-size:30px; position: relative; display: block;'><span style="margin-top: 10%;">&#128516;</span>  
                    <div class="balloon-left" style="text-align:left;">
                       가족끼리 와서 쉬었는데 만족합니다.
                   </div>            
                </div>
        </div>

    
        <div class="A1" style="width: 270px; height:450px;">
            <a style="color: black;" href="#">
                <span class = "aug" style="width:290px; height:250px;">
                    <img width="290px" height="250px" src="./img/re3.png" alt="리뷰">
                </span>

                <div style="display: inline-block; text-align: left;  width: 290px;">
                    <p id="font2" style="font-size: 23px; margin-top: 10px; margin-bottom: -7px; margin-right: 7%; font-weight: 500; text-align:center;">그랜드 인터컨티넨탈
                    </p> 
                    <br>
                    <span style='font-size:30px; position: relative; display: block;'><span style="margin-top: 10%; ">&#128525; </span>  
                     <div class="balloon-left" style="text-align:left;">
                        수영장 이용이 가능해서 좋았어요.
                    </div></span>    
                </div>
        </div>

        <div class="A1" style="width: 270px; height:450px;">
            <a style="color: black;" href="#">
                <span class = "aug" style="width:290px; height:250px;">
                    <img width="290px" height="250px" src="./img/re4.png" alt="리뷰">
                </span>

                <div style="display: inline-block; text-align: left;  width: 290px;">                
                    <p id="font2" style="font-size: 23px; margin-top: 10px; margin-bottom: -7px; margin-right: 7%; font-weight: 500; text-align:center;"> 에피소드 706
                    </p> 
                    <br>
                    <span style='font-size:30px; position: relative; display: block;'><span style="margin-top: 10%;">&#128525; </span>  
                     <div class="balloon-left" style="text-align:left;">
                        주변에 놀거리가 많아서 좋네요.
                    </div></span>                    
                </div>
        </div>
    </div>
</div>

</body>

<body>
<!--- 하단-->
<div id="footer">
    <div class="inner">
        <div class="footer">
            <ul>
                <li><a href="#">도움말</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">운영규칙</a></li>
                <li><a href="#">개인정보취급방침</a></li>
                <li><a href="#">고객 서비스</a></li>
                <li><a href="#">고객센터</a></li>  
            </ul>
            <address>
                Copyright&copy;reservationwebsite.co.kr All Right Rederved
            </address>
        </div>
    </div>
    <ul>
        <!-- 푸터 브랜드 로코 아이콘 -->
    <a href="https://ko-kr.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://github.com/"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/?lang=ko"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.google.co.kr/"><i class="fa-brands fa-google googleapis"></i></a>
    <a href="https://www.pinterest.co.kr/"><i class="fa-brands fa-pinterest"></i></a>
</ul>
</div> 
</body>
</html>