  @font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;}


    @font-face {
        font-family: 'MICEGothic Bold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
    }



/*폰트 적용*/
*{ 
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;

}

body{
        background-color: #f6f8fa;
}

.font{
    font-family: 'MICEGothic Bold', sans-serif;
    font-size: 3vh;
}

.sub::placeholder{
    color: rgba(42, 123, 236, 0.8);
    font-size: 15px;
    text-align: center;
}

.c a{
      font-family: 'Wemakeprice-Bold';
}

.sub{ width: 15%; height: 7vh; min-width: 120px;color: #222746;}

.top:hover{
    background-color: skyblue;
    color: rgba(238, 238, 238);
    font-weight: 650;
    transition: background 0.4s ease-out;
}

input[type='date']::before {
    text-align: center;
    color: rgba(42, 123, 236, 0.8);
    font-size: 15px;
    font-family: 'MICEGothic Bold', sans-serif;
    content: attr(data-placeholder);
    width: 100%;
  }
  
input[type='date']:focus::before, input[type='date']:valid::before {
    display: none;
}

input:focus { outline:none; }
input{
    border: 1px solid #222746a0;
    background-color: rgba(238, 238, 238);
    color: rgb(11, 37, 141);
    font-size: 15px;
    font-family: 'MICEGothic Bold', sans-serif;
}

.s1:hover{
    box-shadow: 2px 3px 2px 3px gray;
}

.s1:hover .bttn{
    background-color:white; color: #222746; transition: background 1s ease-out; }

.bttn{
    float:right; 
    width: 20%; 
    margin-right: -14%;
    margin-top: -1%;
    border: none; 
    height: auto; 
    margin-bottom: 0%; 
    font-size: 14px; padding: 1.4%; background-color:#222746; color: white;
    transition: background 1s ease-out;
}

.mon{
    float:right; 
    color: skyblue;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3%;


}

.main{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

/*헤더 수정 및 추가*/

.header{  
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
}

.menubar  li{
    list-style: none;
    margin-top: 20px;
    margin-right: 5px;
}

.menubar a{
    text-decoration: none;
    

    color: white; 
    transition: all 0.3s;
}

nav a:hover{
    color: skyblue;
    transition: all 0.3s;
    font-weight: 500;

}

.c{
    color: white; float: left; padding-left: 2%; 
    font-family: 'Wemakeprice-Bold'; font-size: 28px; 
}




nav ul li {
  display: inline-block;
  padding: 0 10px;
}
/*여기까지 수정*/



/*검색창의 뒷배경 설정*/


header a{
    text-decoration: none;
    color: white;
}


/*거리순 버튼 설정*/
.btnp{
    background-color: white;
    border: none;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    color: #171d41;
    width: 25%;
    height: 7vh;
    margin-left: -5.7px;
    font-size: 15px;
    font-family: 'MICEGothic Bold', sans-serif;

}

.clickedbtnp{
    border: none;
    border-top: 1px solid skyblue;
    border-bottom: 1px solid skyblue;
    background-color: skyblue;
    color: white;
    width: 25%;
    height: 7vh;
    margin-left: -5.7px;
    font-size: 15px;
    font-family: 'MICEGothic Bold', sans-serif;
}


/*푸터 크기 설정*/
#footer{
    
	border-top: 1px solid #eee;
    background-color: #222746;
	padding: 40px 0 30px 0;
	width: 100%; height: 130px;
	display: inline-block;
}

/*푸터 카테고리 재배치*/
.footer{
	padding: 50px 0; text-align: center;
	display: inline;
}

/*카테고리 색상 및 설정*/
.footer li{
	position: relative;
	display: inline-block;
	padding: 0 7px 0 10px;
	font-size: 13px;
    margin-top: 25px;
}

li>a{
	text-decoration-line: none;
	color: white;
}

/*푸터 카테고리 구분선*/
.footer li:before{
	content: ''; width: 1px; height: 12px; background: #6c7e8a;
	position: absolute; left: 0; top: 3px;
}

/*푸터 카테고리 구분선들 중 맨 좌측에 있는 구분선은 삭제*/
.footer li:first-child:before{width: 0; height: 0;}

/*주소 사이즈 및 색상 */
address{
	font-size: 10px;
	font-style: normal;
	color: #cacdcc;
    margin: 10px 0 15px;
}

/*브랜드 로고 아이콘 크기 및 색상*/
div>ul>a{
	display: inline-block;
	padding: 0 2px 0 2px;
	color: #cacdcc;
	font-size: 15px;
}

/*브랜드 로고 아이콘 정렬*/
#footer>ul{
	text-align: center;
}




