<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./subpage1.css">
    <link rel="stylesheet" type="text/css" href="./SUB1.css">

    
    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/f93a846390.js" crossorigin="anonymous"></script>
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    

    <!-- 거리순 페이지 버튼 누를 경우 발생하는 이벤트-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#t1').show();
            $('#t2').hide();
            $('#t3').hide();
            $('#t4').hide();
            $("#check2").hide();
        
       
        $('#tag4').click(function () {
                $('#t1').hide();
                $('#t2').hide(); 
                $('#t3').hide();
                $('#t4').show();
            });
        $('#tag3').click(function () {
                $('#t1').hide();
                $('#t2').hide();
                $('#t3').show();
                $('#t4').hide();
            });
        $('#tag2').click(function () {
                $('#t1').hide();
                $('#t2').show();
                $('#t3').hide();
                $('#t4').hide();
            });
        $('#tag1').click(function () {
            $(document).ready(function () {
                $('#t1').show();
                $('#k2').hide();
                $('#t3').hide();
                $('#t4').hide();
            });
            });
        });
        
    </script>
<!-- 버튼 클릭 효과-->
<script>
    
  function che(s)
  {
    document.getElementById(s).className = "clickedbtnp";
    if(s=='tag1')
    {
        document.getElementById('tag2').className = "btnp";
        document.getElementById('tag3').className = "btnp";
        document.getElementById('tag4').className = "btnp";
    }
    else if(s=='tag2')
    {
        document.getElementById('tag1').className = "btnp";
        document.getElementById('tag3').className = "btnp";
        document.getElementById('tag4').className = "btnp";
    }
    else if(s=='tag3')
    {
        document.getElementById('tag2').className = "btnp";
        document.getElementById('tag1').className = "btnp";
        document.getElementById('tag4').className = "btnp";
    }
    else if(s=='tag4')
    {
        document.getElementById('tag2').className = "btnp";
        document.getElementById('tag3').className = "btnp";
        document.getElementById('tag1').className = "btnp";
    }
  }


  </script>

<!-- 헤더 스크롤시 페이지 변화 자바스크립트-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript">
    $(function(){
    $(document).on('scroll', function(){
        if($(window).scrollTop() > 50){
            $("#check1").hide();
            $("#check2").show();
        }else{
            $("#check1").show();
            $("#check2").hide();
        }
    })
});
</script>


</head>
<!-- 서브페이지 상단 검색바 구현-->
<body class="main">
<header style="position: relative; z-index: 99;">
    <div id="check1" style="position: fixed; width: 100%; height: auto;">
        <div  style="width: 100%; background-color: #222746; height: 60px; display: flex; justify-content: space-between; ">
            <h2 class="c" style="margin-top: auto; margin-bottom: auto;font-size: 30px;"><a  href="../main.html">TRUE<span style="color:skyblue">.</span>VEL</a></h2>
            <nav style="margin: 0; padding:0;">
                <ul class="menubar">
                <li><a href="" style="font-size: 16px; font-weight: 500;">고객센터</a></li>
                <li><a ref="" style="font-size: 16px; font-weight: 500;">예약현황</a></li>
                    <li>
                        <a href="../page1/login1.html" style="font-size: 16px; font-weight: 500;">로그인/회원가입</a>
                        
                    </li>

                </ul>
                </nav>

        </div>
        <div style="width: 100%; background-color: #222746; height: auto;">
            <form style="margin-left:10%; margin-right: 8%;" action="{% url 'ser" method="POST">
                
                <input name="location"  class="sub" type="text" list="where" placeholder="장소" style="margin-top: 2%; margin-bottom: 2%; border-radius: 10px 0px 0px 10px;" >
                <datalist id="where">
                    <option value=서울>
                    <option value=경기>
                    <option value=인천>
                    <option value=강원>
                    <option value=제주>
                    <option value=대전>
                    <option value=충북>
                    <option value=충남>
                    <option value=부산>
                    <option value=울산>
                    <option value=경남>
                    <option value=대구>
                    <option value=경북>
                    <option value=광주>
                    <option value=전남>
                    <option value=전북>
                </datalist>
                <input style="margin-left:-6px" class="sub" type="text" list="people"  name="peo1" placeholder="인원수">
                <datalist id="people">
                    <option value=1인>
                    <option value=2인>
                    <option value=3인>
                    <option value=4인>
                    <option value=5인이상>
                
        
                </datalist>
                <input type="date" name="date1" class="sub" required data-placeholder="시작 날짜" requiredaria-required="true" style="margin-left:-6.5px; height: 7vh;" >
                <input type="date" name="date2" class="sub" required data-placeholder="종료 날짜" requiredaria-required="true" style="margin-left:-6.5px; height: 7vh;" >
                <input name="textfld"  class="sub" type="text" style="margin-left:-6px; width: 18%; text-indent:10px;" placeholder="키워드(EX: 바다)">
                <input type="submit" value="변경하기" class="sub top" style="margin-left:-6px; height: 7.3vh; border-radius: 0px 10px 10px 0px;">
            </form>

        </div>
        

    </div>
    <div id="check2" style="width: 100%; background-color: #222746; height: auto; position: fixed; top: 0%;">
        <form style="margin-left:8%; margin-right: 8%;" action="{% url 'ser" method="POST">
            
            <input name="location"  class="sub" type="text"  list="where" placeholder="장소" style="margin-top: 2%; margin-bottom: 2%; border-radius: 10px 0px 0px 10px " >
            <datalist id="where">
                <option value=서울>
                <option value=경기>
                <option value=인천>
                <option value=강원>
                <option value=제주>
                <option value=대전>
                <option value=충북>
                <option value=충남>
                <option value=부산>
                <option value=울산>
                <option value=경남>
                <option value=대구>
                <option value=경북>
                <option value=광주>
                <option value=전남>
                <option value=전북>
            </datalist>
            <input style="margin-left:-6px" class="sub"  type="text" list="people" name="peo1"  placeholder="인원수">
            <datalist id="people">
                <option value=1인>
                <option value=2인>
                <option value=3인>
                <option value=4인>
                <option value=5인이상>
            
    
            </datalist>
            <input type="date" name="date1" class="sub"  required data-placeholder="시작 날짜" requiredaria-required="true" style="margin-left:-6px; height: 7vh; " >
            <input type="date" name="date2" class="sub" required data-placeholder="종료 날짜" requiredaria-required="true" style="margin-left:-6px; height: 7vh;" >
            <input name="textfld" class="sub" type="text" style="margin-left:-6px; width: 18%; text-indent:10px;" placeholder="키워드(EX: 바다)">
            <input type="submit" value="변경하기" class="sub top" style="margin-left:-6px; height: 7.3vh; border-radius: 0px 10px 10px 0px; ">
        </form>
    </div>
    </header>
    </body>

<body style="background-color: #f6f8fa;">
    
    <!-- 왼쪽 선택바 구현-->
    <div style="width: 94%; height: auto; display: flex; float: left; margin-top: 32vh; flex-direction: row; margin-left: 3%;">
        <div  style="width:30%; display: inline-block; height: auto; background-color: #f6f8fa;"> 
            <div style="background-color: white; border: 1px solid  aliceblue; border-radius: 10px 10px 10px 10px;">

                <div class="map">
                    <div>
                        <iframe style="border: none;margin-top: 3%; height:93%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3336.7230521432275!2d126.40811610000002!3d33.2475582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x350c5acf60a78955%3A0x9a7754729d339e2!2z7KCc7KO87Iug65287Zi47YWU!5e0!3m2!1sko!2skr!4v1659115397246!5m2!1sko!2skr  style="border:0; allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div style="text-align: center; font-family: 'MICEGothic Bold', sans-serif;">

                </div> 

                <aside>
                <!-- 카테고리별 폼 요소-->
                 <form oninput="x.value=parseInt(a.value)" class="bdfont" style="margin: 5%;">

                    <div style="text-align: center; font-family: 'MICEGothic Bold', sans-serif; margin: 10px 0;">

            
                        <input class="res" type="reset" style="width: 45%; height: 7vh; background-color: white; color:#222746; border: 1px solid #222746; border-radius:5px;">
                        <input type="submit" value="적용" style=" height: 7vh; width: 45%; background-color: #222746; color: white;; border-radius: 5px">
                    </div>

                        <p class="title" style="margin-top: 13%;"> 가격 </p>

                       
                        <input name="price" style="width: 80%;" type="range" id="a" value="100000" min="0" max="700000" step="10000">
                        <br>
                        0원 ~ <output class="bdfont" name="x" for="a">100000</output>원 이하
    
                        <div class="type bdfont">
                            <p class="title">숙소 유형</p>

                            <input class="mar" type="checkbox" name="checklist" value="1">호텔 <br>
                            <input class="mar"type="checkbox" name="checklist" value="2">모텔 <br>
                            <input class="mar"type="checkbox" name="checklist" value="3">리조트/펜션 <br>
                            <input class="mar"type="checkbox" name="checklist" value="4">게스트 하우스 <br>
                            <input class="mar"type="checkbox" name="checklist" value="5">캠핑/글램핑
                        
                        </div>

                        <div class="rating bdfont">
                            <p class="title">평점</p>
                            <span class="bdfont">
                                <input class="mar" type="radio" name="rating" value="3"><span style="color: gold; font-size: 20px;">★</span> 3점 이상<br>
                                <input class="mar" type="radio" name="rating" value="3.5"><span style="color: gold; font-size: 20px;">★</span>  3.5점 이상<br>
                                <input class="mar" type="radio" name="rating" value="4"><span style="color: gold; font-size: 20px;">★</span>  4점 이상<br>
                                <input class="mar" type="radio" name="rating" value="4.5"><span style="color: gold; font-size: 20px;">★</span>  4.5점 이상

                            </span>	
                        </div>

                        <div class="service">
                            <input type="checkbox" id="answer01">
                            <label for="answer01"><p class="title">시설/서비스 <i class="fa-solid fa-angle-down" style="font-size: 12px;"></i></p></label>
                            <div style="display: flex;">
                                <div style="background-color: white; width: 50%; padding-right: 3%;">
                                <span class="bdfont" style="font-size: 1.6vh;">
                                <input class="mar" type="checkbox" name="service" value="100">야외 수영장 <br>
                                <input class="mar" type="checkbox" name="service" value="300">스파 시설 <br>
                                <input class="mar" type="checkbox" name="service" value="500">금연 객실<br>
                                <input class="mar" type="checkbox" name="service" value="700">PC 룸 <br></span>

                                </div>

                                <div style="background-color: white; width: 50%;">
                                    <span class="bdfont" style="font-size: 1.6vh;">
                                    <input class="mar" type="checkbox" name="service" value="200">실내 수영장 <br>
                                    <input class="mar" type="checkbox" name="service" value="400">사우나<br>
                                    <input class="mar" type="checkbox" name="service" value="600">흡연 가능<br>
                                    <input class="mar" type="checkbox" name="service" value="800">반려동물 허용
                                    </span>
    
                                    </div>
    

                            
                            
                            </div>
                        </div>

                        <div class="parking">
                            <p class="title">주차 가능 여부</p>
                            <span class="bdfont">
                            <input type="radio" name="parking" value="10">가능
                            <input type="radio" name="parking" value="20">불가능
                            </span>
                        </div>

                        <div class="safety">
                            <p class="title">안심 숙소</p>
                            <span class="bdfont">
                            <input type="checkbox" name="safety" value="1000" style="margin-bottom: 20px;"> 보건/방역 관련 특별 조치 시행
                            </span>
                        </div>

                        
                        </form>
                        </aside>


            </div>
           
        </div>

        <!-- 숙소 콘텐츠 구현-->
        <div style=" width:100%; display: inline-block; margin-left: 2%;"> 
            <div style="margin-top: 0; margin-bottom: 0px; position: relative; text-align: center; width: 100%; " >
                
                <!-- 각 요소별 버튼-->

                <button class="clickedbtnp" id="tag1" onclick="che('tag1');" > 추천순 </button>
                <button class="btnp" id="tag2" onclick="che('tag2');" > 인기순 </button>
                <button class="btnp" id="tag3" onclick="che('tag3');" > 요금순 </button>
                <button class="btnp" id="tag4" onclick="che('tag4');" > 거리순 </button>


               
            </div>

            <!-- 각 요소에 따른 페이지 구현-->

    
                <div id="t1">
                <div style=" width: 100%; display: flex; flex-direction: column; height: auto; margin-bottom: 5%;">
                    <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 

                    <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                    
               
                      <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                        
                            <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white;background-color: rgba(0,0,0,0.7);">
                                그랜드 하얏트 제주 | <small>5성급</small>
                                <br>
                                <span style="color: gold;">★</span> 4.7 
                                <br>
                                <span class="font" style="font-size: 2.5vh; color: lightgrey;">도심까지 4.9km </span>
                                <br>
                                <span class="mon">
                                    &#8361;468,000
                                </span>
                               <br>
                               <br>
                                <button class="font bttn" style="font-size:18px;">예약하기</button>
                            </p>  
                            
                      </div>
                   
                    </div>
                    </a>
    
                    <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 
                        <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel2.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                        
                   
                          <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                            
                                <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white;  background-color: rgba(0,0,0,0.7);">
                                    호텔 리젠트 마린 더 블루 | <small>4성급</small>
                                    <br>
                                    <span style="color: gold;">★</span> 4.4
                                    <br>
                                    <span class="font" style="font-size: 2.5vh;color: lightgrey;">도심까지 2km </span>
                                    <br>
                                   <span class="mon">
                                    &#8361;266,700
                                </span>
                               <br>
                               <br>
                                    <button class="font bttn" style="font-size:18px;">예약하기</button>
                                </p>  
                                
                          </div>
                       
                        </div>
                        </a>
    
                        <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 
                            <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel3.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                            
                       
                              <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                                
                                    <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white; background-color: rgba(0,0,0,0.7);">
                                        신라스테이 제주 | <small>4성급</small>
                                        <br>
                                        <span style="color: gold;">★</span> 4.5 
                                        <br>
                                        <span class="font" style="font-size: 2.5vh; color: lightgrey;">도심까지 4km </span>
                                        <br>
                                       <span class="mon">
                                    &#8361;284,000
                                </span>
                               <br>
                               <br>
                                        <button class="font bttn" style="font-size:18px;">예약하기</button>
                                    </p>  
                                    
                              </div>
                           
                            </div>
                            </a>
                    
    
                </div>
                </div>
               
                <div id="t2">
                    <div style=" width: 100%; display: flex; flex-direction: column; height: auto; margin-bottom: 5%;">
                       <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 
                        <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                        
                   
                          <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                            
                                <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white; background-color: rgba(0,0,0,0.7);">
                                    그랜드 하얏트 제주 | <small>5성급</small>
                                    <br>
                                    <span style="color: gold;">★</span> 4.7  
                                    <br>
                                    <span class="font" style="font-size: 2.5vh; color: lightgrey;">도심까지 4.9km </span>
                                    <br>
                                   <span class="mon">
                                    &#8361;468,000
                                </span>
                               <br>
                               <br>
                                    <button class="font bttn" style="font-size:18px;">예약하기</button>
                                </p>  
                                
                          </div>
                       
                        </div>
                        </a>
    
                        <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 
                            <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel3.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                            
                       
                              <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                                
                                    <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white; background-color: rgba(0,0,0,0.7);">
                                        신라스테이 제주 | <small>4성급</small>
                                        <br>
                                        <span style="color: gold;">★</span> 4.5 
                                        <br>
                                        <span class="font" style="font-size: 2.5vh; color: lightgrey;">도심까지 4km </span>
                                        <br>
                                       <span class="mon">
                                    &#8361;284,000
                                </span>
                               <br>
                               <br>
                                        <button class="font bttn" style="font-size:18px;">예약하기</button>
                                    </p>  
                                    
                              </div>
                           
                            </div>
                            </a>
        
                        <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 
                            <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel2.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                            
                       
                              <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                                
                                    <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white; background-color: rgba(0,0,0,0.7);">
                                        호텔 리젠트 마린 더 블루 | <small>4성급</small>
                                        <br>
                                        <span style="color: gold;">★</span> 4.4 
                                        <br>
                                        <span class="font" style="font-size: 2.5vh; color: lightgrey;">도심까지 2km </span>
                                        <br>
                                       <span class="mon">
                                    &#8361;266,700
                                </span>
                               <br>
                               <br>
                                        <button class="font bttn" style="font-size:18px;">예약하기</button>
                                    </p>  
                                    
                              </div>
                           
                            </div>
                            </a>
                           
                    </div>
                </div>
    
                <div id="t3">
                <div style=" width: 100%; display: flex; flex-direction: column; height: auto; margin-bottom: 5%;">
                   
    
                    <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 
                        <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel2.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                        
                   
                          <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                            
                                <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white; background-color: rgba(0,0,0,0.7);">
                                    호텔 리젠트 마린 더 블루 | <small>4성급</small>
                                    <br>
                                    <span style="color: gold;">★</span> 4.4 
                                    <br>
                                    <span class="font" style="font-size: 2.5vh; color: lightgrey;">도심까지 2km </span>
                                    <br>
                                   <span class="mon">
                                    &#8361;266,700
                                </span>
                               <br>
                               <br>
                                    <button class="font bttn" style="font-size:18px;">예약하기</button>
                                </p>  
                                
                          </div>
                       
                        </div>
                        </a>
    
                        <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 
                            <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel3.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                            
                       
                              <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                                
                                    <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white; background-color: rgba(0,0,0,0.7);">
                                        신라스테이 제주 | <small>4성급</small>
                                        <br>
                                        <span style="color: gold;">★</span> 4.5 
                                        <br>
                                        <span class="font" style="font-size: 2.5vh; color: lightgrey;">도심까지 4km </span>
                                        <br>
                                       <span class="mon">
                                    &#8361;284,000
                                </span>
                               <br>
                               <br>
                                        <button class="font bttn" style="font-size:18px;">예약하기</button>
                                    </p>  
                                    
                              </div>
                           
                            </div>
                            </a>
    
                            <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 
                                <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                                
                           
                                  <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                                    
                                        <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white; background-color: rgba(0,0,0,0.7);">
                                            그랜드 하얏트 제주 | <small>5성급</small>
                                            <br>
                                            <span style="color: gold;">★</span> 4.7 
                                            <br>
                                            <span class="font" style="font-size: 2.5vh; color: lightgrey;">도심까지 4.9km </span>
                                            <br>
                                           <span class="mon">
                                    &#8361;468,000
                                </span>
                               <br>
                               <br>
                                            <button class="font bttn" style="font-size:18px;">예약하기</button>
                                        </p>  
                                        
                                  </div>
                               
                                </div>
                                </a>
                    
    
                </div>
                </div>
    
                <div id="t4">
                    <div style=" width: 100%; display: flex; flex-direction: column; height: auto; margin-bottom: 5%;">
        
                        <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 
                            <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel2.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                            
                       
                              <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                                
                                    <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white; background-color: rgba(0,0,0,0.7);">
                                        호텔 리젠트 마린 더 블루 | <small>4성급</small>
                                        <br>
                                        <span style="color: gold;">★</span> 4.4
                                        <br>
                                        <span class="font" style="font-size: 2.5vh; color: lightgrey;">도심까지 2km </span>
                                        <br>
                                       <span class="mon">
                                    &#8361;426,800
                                </span>
                               <br>
                               <br>
                                        <button class="font bttn" style="font-size:18px;">예약하기</button>
                                    </p>  
                                    
                              </div>
                           
                            </div>
                            </a>
        
                            <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 
                                <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel3.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                                
                           
                                  <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                                    
                                        <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white; background-color: rgba(0,0,0,0.7);">
                                            신라스테이 제주 | <small>4성급</small>
                                            <br>
                                            <span style="color: gold;">★</span> 4.5
                                            <br>
                                            <span class="font" style="font-size: 2.5vh; color: lightgrey;">도심까지 4km </span>
                                            <br>
                                           <span class="mon">
                                    &#8361;426,800
                                </span>
                               <br>
                               <br>
                                            <button class="font bttn" style="font-size:18px;">예약하기</button>
                                        </p>  
                                        
                                  </div>
                               
                                </div>
                                </a>
                                <a href="../page3/subpage2.HTML" style="text-decoration: none; color:black;"> 
                                    <div class="s1" style=" width: 100%; height: 50vh; display: flex; flex-direction: row; margin-top: 3%; background-image: url(../img/sub.hotel.webp); background-size: 100% 50vh; background-repeat: no-repeat; background-position: center center; flex-wrap: wrap;">
                                    
                               
                                      <div style="display: inline-block; margin-right: auto; margin-top: auto; width: 100%; ">
                                        
                                            <p class="font" style="padding: 1%; text-align: left; line-height: 1.6; color:white; background-color: rgba(0,0,0,0.7);">
                                                그랜드 하얏트 제주 | <small>5성급</small>
                                                <br>
                                                <span style="color: gold;">★</span> 4.7
                                                <br>
                                                <span class="font" style="font-size: 2.5vh; color: lightgrey;">도심까지 4.9km </span>
                                                <br>
                                               <span class="mon">
                                    &#8361;426,800
                                </span>
                               <br>
                               <br>
                                                <button class="font bttn" style="font-size:18px;">예약하기</button>
                                            </p>  
                                            
                                      </div>
                                   
                                    </div>
                                    </a>
        
                    </div>
                    </div>
            </div>
           
        </div>

    </div>
  
<!--- 하단-->
<div id="footer">
    <div class="inner">
        <div class="footer">
            <ul>
                <li><a href="#">도움말</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">운영규칙</a></li>
                <li><a href="#">개인정보취급방침</a></li>
                <li><a href="#">고객 서비스</a></li>
                <li><a href="#">고객센터</a></li>  
            </ul>
            <address>
                Copyright&copy;reservationwebsite.co.kr All Right Rederved
            </address>
        </div>
    </div>
    <ul>
        <!-- 푸터 브랜드 로코 아이콘 -->
    <a href="https://ko-kr.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://github.com/"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/?lang=ko"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.google.co.kr/"><i class="fa-brands fa-google googleapis"></i></a>
    <a href="https://www.pinterest.co.kr/"><i class="fa-brands fa-pinterest"></i></a>
</ul>
</div> 
</body>
</html>